
.spyderproject

.spyderworkspace

cases/

*.pyc

non_treated/

globalAnalysesResults/

H2PO4_SGAGKT/

HPO4_SGAGKT/

aMD_HPO4_PM6_ff14SB_iamd3_cut/

SGAGKT/

gpu_SGAGKT/

gpu_H2PO4_SGAGKT/

gpu_HPO4_SGAGKT/

aMD/

HPO4/

aMD_HPO4/
PLMD.sublime-project

PLMD.sublime-workspace
